article{
    text-align: center;
    background-color: aqua;
}
figure{
    background-color: blueviolet;
}
section{
    background-color: brown;
}
header{
    background-color: blanchedalmond;
}
footer{
    background-color: coral;
}
nav{
    background-color: greenyellow;
}